<mat-toolbar>
  <!-- Bouton pour menu (pour d'autres actions) -->

  <!-- Bouton pour naviguer vers la home page -->
  <button mat-icon-button [routerLink]="['/']" aria-label="Home">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button [routerLink]="['/employee']" aria-label="employee">
    <mat-icon>group</mat-icon>
  </button>

  <!-- Bouton favori -->
  <button
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <mat-icon>favorite</mat-icon>
  </button>

  <!-- Bouton de partage -->
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>
